.context-menu{
    position: absolute;
    top:5%;
    display:none;
}
.context-menu__action-list{
    display:flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin:0;
    width:100px;
    z-index: 2;
}
.context-menu__action-item{
    flex:1;
    display: flex;
    align-items: center;
    background-color: var(--color-secondary);
    padding-left: 1rem;
    border-bottom: 1px solid var( --color-utility)
}

.context-menu__action-item:hover{
    background-color: var(--color-primary-2);
    cursor: pointer;
}

.context-menu--open{
    display:flex
}