.search {
  width: 71%;
  margin: 2rem auto;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 1.75rem;
  border-radius: 3rem;
  background: var(--color-primary-1);
  border: solid 1px var(--color-primary-2);
}

.search__input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: var(--color-utility);
  background: var(--color-primary-1);
}

.search__image {
  width: 35px;
  height: 35px;
  cursor: pointer;
} 

 .search__button {
  padding: 20px 40px;
  border-radius: 0.5rem;
  margin-left: 15px;
  color: var(--color-secondary);
  font-family: var(--font-secondary);
  font-weight: 900;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
  cursor: pointer;
  background: var(--color-primary-1);
}